/*
 * General página
 */

/* uso em para que se vean en tamaño a relación de la pantalla de la persona que lo vea */

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #8b8686; 
	font-size: 16px;
	line-height: 24px;
	
	padding-top: 80px;
}

h1 {
	font-size: 37px;
    line-height: 21px;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

h2 {
	font-size: 32px;
    line-height: 16px;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 24px 0;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	padding: 40px;
	display: flex;
	justify-content: center;
} /* <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3195.517580259334!2d-2.818067348812732!3d36.78213897631696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7042fd28f10ad9%3A0xb13e2a63490ff0cb!2sI.E.S.%20MURGI!5e0!3m2!1ses!2ses!4v1673455444125!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> */

figure {
	margin: 0%; /* No quiero que me espacie las imagenes */
}


/*
 * Cabecera de la página
 */
#principal-cabecera {
	background: #333;
	color: white;
	height: 80px;
	
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}	
	#principal-cabecera a {
		color: white;
	}
	
	
/*
 * Logo
 */
#logo-cabecera {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-cabecera:hover {
		color: #0b76a6;
	}
	
	#logo-cabecera .nombre-web {
		display: block;
		font-weight: 700;
		font-size: 19px;
	}
	
	#logo-cabecera .subtitulo {
		display: block;
		font-weight: 300;
		font-size: 13px;
		color: #999;
	}
	

/*
 * Menú Cabecera
 */
nav {
	float: right;
}
	nav ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
			
			/* Opción desplegable*/

			.desplegable {
				display: inline-block;
				position: relative;
			}
			
			.contenido {
				display: none;
				background-color: #333;
			}

			.desplegable:hover .contenido{
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			.contenido:hover{
				background-color: #0b76a6;
			}
			



/*
 * Cuerpo de la página (contenido)
 */

#cuerpo-principal {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#cuerpo-principal header,
	#cuerpo-principal .content {
		padding: 40px;
	}
	#cuerpo-principal .video {
		padding: 40px;
		display: flex;
		justify-content: center;
	}

	p {
		text-align: center;
	}

	span {
		font-weight: bold;
	}
	


/*
 * Pie de página
 */

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}

	#main-footer .iconos {
		padding: 40px;
		display: flex;
		justify-content: center;
	}
